body{
    background-color: #f3f3f3;
    position: relative;
    width: 100vw;
    height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
header img {
    width: 75px;
    height: 53px;
    margin-left: 20px;
}
header ion-icon{
    width: 50px;
    height: 40px;
    margin-right: 20px;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100% - calc(160px);
    overflow-wrap: break-word;
}
.msg {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    align-items: center;
    background-color: #ffffff;
    margin: 3px;
    overflow-wrap: break-word;
}
.msg.entrar-sair{
    background-color: #DCDCDC;
}
.msg .hora{
    margin-right: 8px;
}
.msg .nome{
    margin-right: 8px;
}
.msg.private{
    background-color: #FFDEDE;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer ion-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
footer input{
    margin-left: 20px;
    font-weight: bold;
    border: none;
    width: 145px;
    height: 30px;
}
.mascara{
    background: rgba(0, 0, 0, 0.6);
    width: 40vw;
    height: 100vh;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;

}

.menu-lateral{
    font-family: 'Roboto',sans-serif;
    width: 60vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 20px;
    z-index: 3;
    background-color: #ffffff;
    overflow-y: scroll;
}

.nome-icone {
    display: flex;
    align-items: center;
}
.nome-icone span{
    margin: 5px;
}

.participants li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.visibility{
    padding: 20px;
    
}
.visibility span {
    margin-left: 5px;   
}
.visibility li {
    margin-top: 10px;
    display: flex;
    font-size: 20px;
}
.check {
    color: #28BB25;
    font-size: 20px;
    opacity: 0;
}

.selecionado .check{
    opacity: 1;
}

h1{
    font-size: 15px;
    font-weight: bold;
    text-align: center;

}
.titulo{
    display: flex;
    height: 84px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.hide {
    display: none;
}